/dw/bin
/dw/pkg
/dw/output
/dw/log

.env

/deployment/ansible/vars.yml
/deployment/ansible/roles/*/vars.yml

/deployment/docker/.env
/deployment/docker/mariadb/db
/deployment/docker/mariadb/log
/deployment/docker/mariadb_test/db
/deployment/docker/mariadb_test/log

/frontend/ci
/frontend/config/variables.json
/frontend/config/variables.tmp.json
/frontend/dist
/frontend/node_modules

/todo.txt
