/dw/bin
/dw/pkg
/dw/output
/dw/log
/dw/.env

/deployment/ansible/vars.yml
/deployment/ansible/roles/*/vars.yml

/deployment/docker/.env
/deployment/docker/mariadb/db
/deployment/docker/mariadb/log
/deployment/docker/mariadb_test/db
/deployment/docker/mariadb_test/log

/frontend/ci
/frontend/coverage
/frontend/.env
/frontend/dist
/frontend/node_modules

/todo.txt
