header {
  background-color: $block-bg;
  margin-bottom: 1rem;
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  a {
    color: #ffeac2;

    &:before,
    &:after {
      transition: none;
    }

    &:hover {
      color: #ffeac2;

      &:before,
      &:after {
        width: 0;
      }
    }
  }
}

h2 {
  font-size: 1.2rem;
}
