body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 0.95rem;

  background-color: $body-bg;
  color: $body-color;
}

p {
  margin: 0;
}

.app-block {
  background-color: $block-bg;
}

.card {
  background-color: $body-bg;
  color: $body-color;
  border-color: rgba($body-color, .5);

  .card-header {
    background-color: darken($body-bg, 2%);
    padding: 0;
  }

  .card-body {
    padding: 0;

    p {
      font-size: 0.90rem;
    }
  }

  .card-footer {
    background-color: darken($body-bg, 2%);
  }
}
