.cp {
  cursor: pointer;
}

.danger {
  color: $danger-color;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

:root {
  --popper-theme-background-color: #001229;
  --popper-theme-padding: 0.1825rem 0.375rem;
  --popper-theme-border-radius: 0.375rem;
}
