$grey: #233144;

$danger-color: #b32727;
$success-color: #41bb2a;
$warning-color: #cc8800;

$body-bg: #001229;
$body-color: #ffeac2;

$link-color: #cc8800;
$link-color-hover: #ffa90a;

$block-bg: #001b3d;
